<p><a href="/logout"> Log Out </a> / 
<a href="/"> Home </a></p> 
<center>
<h1>Welcome <%= @user.name %></h1>
<% if @user.places.length == 0 %>
<h2> You have not rated any locations yet</h2>
<% else %>
<h2>Cities you have rated</h2>


	<table id="users-ratings-table">
	<tr>
		<th>City</th>
		<th>Country</th>
		<th> Food </th>
		<th> Family Friendly </th>
		<th> History </th>
		<th> Sites </th>
		<th> Cost </th>
		<th> Hospitality </th>
		<th> Modernism </th>
		<th>  </th>
		<th>  </th>

	</tr>
	<%@user.places.each do |something|%>
	<% something.ratings.each do |rate| %>	
	<tr>
		<td><%= something.city %></td>
		<td><%= something.country %></td>
		<td><center><%= rate.food %></center></td>
		<td><center><%= rate.family_friendly %></center></td>		
		<td><center><%= rate.history %></center></td>		
		<td><center><%= rate.sites %></center></td>		
		<td><center><%= rate.cost %></center></td>		
		<td><center><%= rate.hospitality %></center></td>		
		<td><center><%= rate.modernism %></center></td>	
		<td><form action="/rating/<%=rate.id%>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form></td>
		<td><form class="Button" id=edit-table-form action="/rating/<%=rate.id%>/edit">
			<input type="submit" value="Edit">
		</form></td>

	</tr>
	<%end%>
	<%end%>
	</table>
	
<% end %>
<a id="rating-form" href="/rating/new"> Create a new rating </a></p> 

<div id="rating-form-append-area">

</div>

<div id="edit-form-append-area">

</div>
</center>
