
<div id="country-rating">
	<h1> <%= @city %>, <%= @country %> </h1>
	<h2> Ratings </h2>
		<% if @array.length == 0 %>
			<p>Nobody has rated this place yet</p>
		<% else %>
	<h3> Based off of <%= @array.length %> ratings</h3>

<h4><table width= "375" height="300" background="http://www.morrisplainsschooldistrict.org/cms/lib01/NJ01001854/Centricity/Domain/4/spinningGlobe.gif">
	<tr>
		<th>Category</th>
		<th><alig Score</th>
	</tr>
	<tr>
		<td>Food </td>
		<td><center> <%= @array.average(:food) %></center></td>
	</tr>
	<tr>
		<td>Family Friendly </td>
		<td><center> <%= @array.average(:family_friendly) %></center></td>
	</tr>
	<tr>
		<td>History </td>
		<td><center> <%= @array.average(:history) %></center></td>
	</tr>
	<tr>
		<td>Sites</td>
		<td><center> <%= @array.average(:sites) %></center></td>
	</tr>
	<tr>
		<td>Cost </td>
		<td><center> <%= @array.average(:cost) %></center></td>
	</tr>
	<tr>
		<td>Hospitality </td>
		<td><center> <%= @array.average(:hospitality) %></center></td>
	</tr>
	<tr>
		<td>Modernism </td>
		<td><center> <%= @array.average(:modernism) %></center></td>
	</tr>
</table></h4>
<%end%>
</div>

<div id="google-map">
	<iframe
  width="500"
  height="350"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_KEY']%>
    &q=,<%= @city %>+<%= @country %>" allowfullscreen>
</iframe>
</div>